@model projet2_CRA.Models.User
@{
    Layout = "_LayoutDuSite";
    ViewBag.Title = "Détail Utilisateur";
}

    <h2>Je suis la vue détails utilisateur</h2>
    <ul>
        <li>Login : @Model.Login</li>
        <li>Créé le : @Model.CreationDate.ToString("dd/MM/yyyy")</li>
        <li>Prénom : @Model.UserData.Firstname</li>
        <li>Nom : @Model.UserData.Lastname</li>
        <li>Date de naissance : @Model.UserData.Birthday.ToString("dd/MM/yyyy")</li>
        <li>Email : @Model.UserData.Email</li>
    </ul>